#experiencia {
  position: absolute;
  top: -120px;
}

.experiencia {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 100px;
  position: relative;
}

.experiencia .subtitulo {
  color: var(--subtitulo);
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 40ch;
  color: var(--cinza3);
}

.experiencia-texto strong {
  color: var(--preto);
}

.empresa {
  display: grid;
  grid-template-columns: 1fr;
  padding: 30px;
  background-color: var(--cinza1);
  margin-bottom: 20px;
  position: relative;
  gap: 10px;
  border-left: 5px solid transparent;
}

.empresa:hover {
  border-left: 5px solid var(--verde);
}

.empresa-ano {
  font-size: 0.875rem;
  position: absolute;
  top: 31px;
  left: -300px;
  color: var(--cinza3);
  width: 280px;
  text-align: right;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-cargo {
  color: var(--preto);
}

.empresa-texto {
  font-size: 0.875rem;
  color: var(--cinza3);
  line-height: 1.4;
}

.empresa-texto li {
  margin-bottom: 10px;
  list-style: inside;
}

@media (max-width: 1100px) {
  .empresa-ano {
    position: initial;
    width: initial;
    order: 1;
    text-align: left;
  }
}

@media (max-width: 800px) {
  #experiencia {
    top: -157px;
  }
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: var(--preto);
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }
  .empresa:hover {
    border-left: 0px;
  }
}

@media (max-width: 535px) {
  #experiencia {
    top: -210px;
  }
}

@media (max-width: 300px) {
  .experiencia .subtitulo {
    font-size: 2rem;
  }
}
