#contato {
  position: absolute;
}

.footer {
  background-color: var(--preto);
  position: relative;
}

.footer-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 88px 20px;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #fff;
  text-align: center;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125;
  color: var(--cinza2);
  margin-top: 40px;
  text-align: center;
}

.footer-social {
  display: flex;
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  gap: 30px;
  font-size: 30px;
}

.footer-social i {
  color: #fff;
}

.footer-social i:hover {
  color: var(--verde);
}

@media (max-width: 800px) {
  #contato {
    top: -157px;
  }
}

@media (max-width: 535px) {
  #contato {
    top: -210px;
  }
}
