:root {
  --preto: #141414;
  --verde: #b6f829;
  --cinza1: #f5f5f5;
  --cinza2: #a3a3a3;
  --cinza3: #525252;
  --subtitulo: #e0e0e0;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Fira Sans", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

.subtitulo {
  font-size: 8rem;
  word-break: break-all;
  line-height: 1;
  text-transform: uppercase;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
  }
}


