#projetos {
  position: absolute;
  top: -120px;
}

.projetos {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 100px;
  position: relative;
}

.projetos .subtitulo {
  color: var(--subtitulo);
  max-width: 5ch;
}

.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 320px;
  gap: 20px;
  overflow-y: scroll;
}

.item {
  display: flex;
  cursor: pointer;
}

.item img {
  object-fit: cover;
  height: 100%;
  object-position: top right;
  border-radius: 4px;
}

@media (max-width: 1020px) {
  .galeria {
    max-height: 390px;
  }
}

@media (max-width: 819px) {
  .projetos .subtitulo {
    font-size: 7.8rem;
  }
}

@media (max-width: 802px) {
  .projetos .subtitulo {
    font-size: 7.7rem;
  }
}

@media (max-width: 800px) {
  #projetos {
    top: -157px;
  }
  .projetos {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .galeria {
    grid-template-columns: repeat(6, 300px);
    overflow-x: auto;
  }
  .projetos .subtitulo {
    color: var(--preto);
    font-size: 3rem;
    max-width: 100%;
  }
  .item:hover {
    transform: none;
  }
}

@media (max-width: 535px) {
  #projetos {
    top: -210px;
  }
}

@media (max-width: 300px) {
  .projetos .subtitulo {
    font-size: 2rem;
  }
}
