.projetos {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 100px;
}

.projetos .subtitulo {
  color: var(--subtitulo);
  max-width: 5ch;
}

.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.item {
  display: flex;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  border-radius: 7px;
  transition: 0.5s;
}

.item:hover {
  transform: scale(1.1);
}

.item img {
  object-fit: cover;
  height: 100%;
  border-radius: 7px;
}

@media (max-width: 819px) {
  .projetos .subtitulo {
    font-size: 7.8rem;
  }
}

@media (max-width: 802px) {
  .projetos .subtitulo {
    font-size: 7.7rem;
  }
}

@media (max-width: 800px) {
  .projetos {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .galeria {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .projetos .subtitulo {
    color: var(--preto);
    font-size: 3rem;
    max-width: 100%;
  }
  .item:hover {
    transform: none;
  }
}

@media (max-width: 700px) {
  .galeria {
    grid-template-columns: 1fr;
  }
}
