* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Fira Sans", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 122px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a,
button {
  display: inline-block;
}