.projetos {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 100px;
  position: relative;

  #projetos {
    position: absolute;
    top: -120px;
  }

  .subtitulo {
    color: $subtitulo;
    max-width: 5ch;
  }

  .galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 550px;
    gap: 20px;
    overflow-y: scroll;

    .projeto {
      display: flex;
      cursor: pointer;
      position: relative;
      max-height: 220px;

      img {
        object-fit: cover;
        height: 100%;
        max-width: 343px;
        object-position: center right;
        border-top-right-radius: 4px;
      }

      .titulo-projeto {
        position: absolute;
        color: $preto;
        padding: 10px;
        background-color: white;
        top: 0px;
        left: 0px;
        font-size: 0.75rem;
      }
    }
  }
}

@media (max-width: 1020px) {
  .galeria {
    max-height: 390px;
  }
}

@media (max-width: 819px) {
  .projetos .subtitulo {
    font-size: 7.8rem;
  }
}

@media (max-width: 802px) {
  .projetos .subtitulo {
    font-size: 7.7rem;
  }
}

@media (max-width: 800px) {
  .projetos {
    grid-template-columns: 1fr;
    gap: 40px;

    #projetos {
      top: -157px;
    }

    .galeria {
      grid-template-columns: repeat(6, 340px);
      overflow-x: scroll;
    }

    .subtitulo {
      color: $preto;
      font-size: 3rem;
      max-width: 100%;
    }
  }
}

@media (max-width: 535px) {
  .projetos {
    #projetos {
      top: -210px;
    }
    .galeria {
      grid-template-columns: repeat(6, 250px);

      .projeto {
        img {
          max-width: 250px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .projetos {
    #projetos {
      top: -280px;
    }
  }
}

@media (max-width: 300px) {
  .projetos {
    .subtitulo {
      font-size: 2rem;
    }

    .galeria {
      grid-template-columns: repeat(6, 225px);

      .projeto {
        img {
          max-width: 225px;
        }
      }
    }
  }
}

@media (max-width: 280px) {
  .projetos {
    #projetos {
      top: -320px;
    }
  }
}
