@mixin links {
    a {
        font-size: 1.125rem;
        text-decoration: none;
        line-height: 1.3;
        color: $cinza1;
        padding: 10px 20px;

        &:hover {
            color: $destaque;
        }
    }
}

