@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.cdnfonts.com/css/ocr-a-extended');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poltawski+Nowy&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111;
}

.slick-next {
  right: -85px;
  bottom: -20px;
}

.slick-next::before,
.slick-prev::before {
  font-size: 30px;
}

.slick-prev {
  left: -85px;
  bottom: -20px;
  font-size: 40px;
}

.slick-track {
  height: 240px;
}

@media (max-width: 380px) {

  .slick-next::before,
  .slick-prev::before {
    display: none;
  }
}

@media (max-width: 500px) {
  .slick-next {
    right: -70px;
  }
}


