@import url(fonts.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-color: #123;
  --primary-color: #a7b6c2;
  --secondary-color: #fff;
  --highlight-color: #f9c784;
  --info-color: #e0e0e0;
  --card-color: #f2e8d4;
  --dark-color: #333;
}
