@mixin btn {
        font-size: 1.125rem;
        background-color: $preto;
        color: $cinza1;
        padding: 12px 16px;
        border-radius: 4px;
        cursor: pointer;
        border: none;
}

@mixin slide {
    font-size: 40px;
    cursor: pointer;
    display: inline-block;
    color: $subtitulo;
    border: none;
    background-color: transparent;

    i {
      transition: 1s;
    }

    @if max-width !=800px {
      i.ativo {
        rotate: 180deg;
      }
    }
}