.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  background-color: black;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $cinza1;

    .header-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      @include links;
    }

    .idioma-container {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;

      .idioma-btn {
        @include btn;
      }

      .idioma-menu {
        display: none;

        &.ativo {
          @include dropdown;
        }

        .idioma {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 10px;
          width: 100%;
          height: 100%;
          cursor: pointer;

          &:hover {
            background-color: $cinza1;
          }

          img {
            border-radius: 12%;
          }

          input[type=checkbox] {
            display: none;
            position: absolute;
            left: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  html {
    scroll-padding-top: 178px;
  }

  .header {
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding: 30px;

    nav {
      .idioma-container {
        display: none;
      }

      .header-menu {
        margin-right: 0;
        gap: 20px;

        a {
          background-color: $preto;
          border-radius: 4px;

          &:hover {
            color: $destaque;
          }
        }
      }
    }
  }
}

@media (max-width: 555px) {
  html {
    scroll-padding-top: 231px;
  }
}

@media (max-width: 324px) {
  html {
    scroll-padding-top: 285px;
  }
}

@media (max-width: 280px) {
  html {
    scroll-padding-top: 338px;
  }

  .header {
    .header-menu {
      max-width: 1ch;
    }
  }
}