.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  background-color: black;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;

  nav {
    display: flex;
    align-items: center;
    color: $cinza1;

    .header-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      margin-right: 20px;

      a {
        font-size: 1.125rem;
        text-decoration: none;
        line-height: 1.3;
        padding: 10px 20px;
        color: $cinza1;
        display: block;

        &:hover {
          color: $destaque;
        }
      }
    }

    .mudar-idioma {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      position: relative;
      color: $cinza1;
      gap: 5px;

      img {
        border-radius: 10%;
      }
    }
  }
}

@media (max-width: 800px) {
  html {
    scroll-padding-top: 178px;
  }

  .header {
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding: 30px;

    nav {
      .header-menu {
        margin-right: 0;

        a {
          background-color: $preto;
          border-radius: 4px;

          &:hover {
            color: $destaque;
          }
        }
      }

      .mudar-idioma {
        position: absolute;
        top: 20px;
        right: 20px;

        .idioma {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 555px) {
  html {
    scroll-padding-top: 231px;
  }
}

@media (max-width: 324px) {
  html {
    scroll-padding-top: 285px;
  }
}

@media (max-width: 280px) {
  html {
    scroll-padding-top: 338px;
  }

  .header {
    .header-menu {
      max-width: 1ch;
    }
  }
}