.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  background-color: black;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $cinza1;

    .header-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      a {
        font-size: 1.125rem;
        text-decoration: none;
        line-height: 1.3;
        color: $cinza1;
        padding: 10px 20px;

        &:hover {
          color: $destaque;
        }
      }
    }

    .idioma-container {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;

      .idioma-btn {
        font-size: 1.125rem;
        background-color: $preto;
        color: $cinza1;
        padding: 12px 16px;
        border-radius: 4px;
        cursor: pointer;
        border: none;
      }

      .idioma-menu {
        display: none;

        &.ativo {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background-color: #fff;
          border: 1px solid #f8f8f8;
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
          width: 109px;
          height: 80px;
          color: $preto;
          bottom: -36px;
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
        }

        .idioma {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 10px;
          width: 100%;
          height: 100%;
          cursor: pointer;

          &:hover {
            background-color: $cinza1;
          }

          img {
            border-radius: 12%;
          }

          input[type=checkbox] {
            display: none;
            position: absolute;
            left: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  html {
    scroll-padding-top: 178px;
  }

  .header {
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding: 30px;

    nav {
      .idioma-container {
        display: none;
      }

      .header-menu {
        margin-right: 0;
        gap: 20px;

        a {
          background-color: $preto;
          border-radius: 4px;

          &:hover {
            color: $destaque;
          }
        }
      }
    }
  }
}

@media (max-width: 555px) {
  html {
    scroll-padding-top: 231px;
  }
}

@media (max-width: 324px) {
  html {
    scroll-padding-top: 285px;
  }
}

@media (max-width: 280px) {
  html {
    scroll-padding-top: 338px;
  }

  .header {
    .header-menu {
      max-width: 1ch;
    }
  }
}