.conteudo-principal {
  padding-top: 158px;

  .introducao {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 100px;

    h1 {
      font-size: 4.5rem;
      line-height: 1.125;
      margin-bottom: 30px;
    }

    p {
      font-size: 1.5rem;
      color: $cinza3;
    }
  }
}

@media (max-width: 1000px) {
  .conteudo-principal {
    .introducao {
      h1 {
        font-size: 4rem;
      }
    }
  }
}

@media (max-width: 800px) {
  .conteudo-principal {
    padding-top: 180px;

    .introducao {
      grid-template-columns: 1fr 1fr;
      gap: 40px;

      h1 {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 586px) {
  .conteudo-principal {
    padding-top: 212px;
  }
}

@media (max-width: 500px) {
  .conteudo-principal {
    .introducao {
      grid-template-columns: 1fr;

      img {
        width: 350px;
      }
    }
  }
}

@media (max-width: 334px) {
  .conteudo-principal {
    padding-top: 265px;

    .introducao {
      img {
        width: 300px;
      }

      h1 {
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 291px) {
  .conteudo-principal {
    padding-top: 318px;
  }
}